$black: #282c34;
$non_text: #919baa;
$selection: #474e5d;
$comments: #5c6370;
$line: #313640;
$white: #dcdfe4;
$red: #e06c75;
$green: #98c379;
$orange: #de935f;
$yellow: #e5c07b;
$blue: #61afef;
$magenta: #c678dd;
$cyan: #56b6c2;

* {
    all: unset; //Unsets everything so you can style everything from scratch

}

//Global Styles
.bar {
    background-color: $line;
    color: $white;
    padding: 10px;
}

.workspaces button:hover {
    color: $yellow;
    background-color: $selection;
}

.metric {
    padding-left: 7px;
    padding-right: 7px;
}

.hover-module {
    padding-left: 7px;
    padding-right: 7px;
}

// Calendar
.cal-box {
  background-color: $black;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
  color: $blue;
  font-weight: bold;
}

calendar.button {
  color: $magenta;
}

calendar.highlight {
  color: $magenta;
  font-weight: bold;
}

calendar:indeterminate {
  color: $black;
}

