$black: #282c34;
$non_text: #919baa;
$selection: #474e5d;
$comments: #5c6370;
$line: #313640;
$white: #dcdfe4;
$red: #e06c75;
$green: #98c379;
$orange: #de935f;
$yellow: #e5c07b;
$blue: #61afef;
$magenta: #c678dd;
$cyan: #56b6c2;

* {
    all: unset; //Unsets everything so you can style everything from scratch

}

//Global Styles
.bar {
    background-color: $line;
    color: $white;
    padding:3px;
}



// Statistics (left)
.system-stuff{
    margin-right:5px;
}
.confort-stuff{
    margin-right:5px;
}
.stat{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;
    padding-right: 15px;
    font-size:17px;
//    border: 1px solid white;
}
.wifi{
  font-size:20px;
}
.red-light{
  font-size:20px;
}
.metric {
    padding-left: 0px;
    padding-right: 0px;
    font-size:13px;
    //border: 1px solid white;
}
.revealer-on-hover {
}
.hover-module {
    padding-left:0px;
    padding-right:0px;
    //border: 1px solid white;
}

.run-menu {
    padding-left: 10px;
    padding-right: 10px;
    font-size:30px;
    color: $blue;
    //border: 1px solid white;
}

//power button
.power-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:10px;
    padding-right: 10px;
    font-size:20px;
}
.button-off {
    color: $red;
    font-size:20px;
}
.button-reb {
    color: $yellow;
}
.button-quit {
    color: $magenta;
}
.button-lock {
    color: $blue;
}

// Calendar
.cal-box {
  background-color: $line;
  font-family: Comic Mono;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $blue;
}

calendar.header {
  color: $white;
  font-weight: bold;
}

calendar.button {
  color: $red;
}

calendar.highlight {
  color: $yellow;
  font-weight: bold;
}

calendar:indeterminate {
  color: $selection;
}

.workspaces {
  font-size: 15px;

}

.workspace{
    color: $comments;
    margin: 10px;
}

.workspace.visible{
    color: $white;
}

.workspace button:hover{
    color: $yellow;
}
